@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  background-position: center;
  background-image: url("../../public/img/bg.webp");
}

.first_par {
  background-color: white;
  padding: 8px;
  font-size: 1.4rem;
  font-family: 'Comic Sans MS', cursive;
}

.second_par {
  background-color: white;
  padding: 8px;
  font-size: 1.4rem;
  font-family: 'Comic Sans MS', cursive;
}

.third_par {
  background-color: white;
  padding: 8px;
  font-size: 3rem;
  font-weight: bold;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}